If:
  PathMatch: .*\.cpp

Diagnostics:
  UnusedIncludes: None 
  MissingIncludes: None

CompileFlags:
  # Add: [-std=c++20]
  Add: 
  - "-std=c++11"
  - "-I/usr/local/include"

---

If:
  PathMatch: .*\.c

CompileFlags:
  Add: [-std=c17]


